<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <payer_checkout>
                <active>0</active>
                <model>Payer\Checkout\Model\Payment</model>
                <payment_action>authorize_capture</payment_action>
                <title>Payer Checkout</title>
                <allowspecific>0</allowspecific>
            </payer_checkout>
        </payment>
    </default>
</config>